<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="shortcut icon" href="../img/logo.png" type="image/png">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <%- include('navbar/nav') %>
  <%- include('navbar/leftnav') %>
  <%- include('navbar/postAd') %>
  <div id="item-container" class="container-index"></div>


  <script>
    async function fetchItems(catogory = '') {
      try {
        const container = document.getElementById('item-container');
        container.innerHTML = '';

        const response = await fetch(`/items${catogory ? `?catogory=${catogory}`:''}`);
        if (!response.ok) throw new Error('There is a problem fetching items');

        const items = await response.json();

        if (items.length === 0) {
          container.innerHTML = '<h2>No items found.</h2>';
          return;
        }

        items.forEach((item) => {
          const itemElement = document.createElement('div');
          itemElement.className = 'item';

          itemElement.innerHTML = `
            <div class="left">
              <img src="${item.photo}" alt="item photo" id="photo">
            </div>
            <div class="right">
              <div class="item-top">
                <h3 id="heading">${item.heading}</h3>
                <p id="aboutItem">${item.aboutItem}</p>
              </div>
              <div class="item-bottom">
                  <span id="price">Rs.${item.price}</span>
                  <p id="city">City:- ${item.city}</p>
                  <button onclick="bookmarkItem('${item._id}')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 48C0 21.5 21.5 0 48 0l0 48 0 393.4 130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4 336 48 48 48 48 0 336 0c26.5 0 48 21.5 48 48l0 440c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488L0 48z"/></svg>Bookmark</button>
                  <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"/></svg>Share</button>
              </div>
            </div>
          `;

          container.appendChild(itemElement);
        });

       
      } catch (err) {
        console.error('There is an error displaying items:', err);
      }
    }

    function bookmarkItem(itemId) {
            fetch('/bookmark', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ itemId: itemId }),
            })
              .then(response => response.json())
              .then(data => {
                if (data.message) {
                  alert(data.message);
                }
              })
              .catch(err => console.error('Error bookmarking item:', err));
          }

    fetchItems();
  </script>
</body>
</html>

