
    <div class="container">
        <div class="logo">Len-Den</div>
        <nav class="heading-top">
            <a href="/"   class="heading-top <%= currentPage === 'Home' ? 'active' : '' %>">Home</a>
            <a href="/bookmark"  class="heading-top <%= currentPage === 'Bookmark' ? 'active' : '' %>">Bookmark</a>
            <a href="/contact" class="heading-top <%= currentPage === 'Contact' ? 'active' : '' %>">Contact</a>
        </nav>
    </div>

    
